* {
    scroll-behavior: smooth;
}
body {
    font-family: 'Manrope';
    margin: 0;
    padding: 0;
    color: #1c1d1c;
    background-image: url(assets/body-bg.jpg);
    transition: .8s all;
}
:root {
 --primary-color: #1c1d1c;
 --hover-primary-color: #414241;
 --secondary-color: #485b86 ;
}
.bold {
    font-weight: 600;
}
.bold-max {
    font-weight: 700;
}
a {
    text-decoration: none;
    color: var(--primary-color)
}
li {
    list-style-type: none;
}
nav {
    padding: 0 5rem;
    position: absolute;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 0;
    display: flex;
    justify-content: space-between;

}

.menu {
    position: absolute  ;
    z-index: 999;
    display: flex;
    transform: translateX(-100%);
    transition: .7s all;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
.menu ul {
    
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 2rem;
    background-color: #1c1d1c;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: end;
    justify-content: center;
}
.nav-button:hover {
    cursor: pointer;
}

.menu ul li a{
    color: white;
    position: relative;
    top: 0px;
    left: 0px;
}
.menu ul li a:hover {
    opacity: .7;
    transition: .5s ease-in-out;
    
}

.hero h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.hero {
    display: flex;
    padding-top: 10%;
    height: 97vh;
    max-height: 100%;
    /* background: url(assets/section.png); */
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    flex-wrap: wrap;

}
.text {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-top: 10%;
        align-items: center;
        justify-content: center;
}
.text button  {
    width: 13rem;
    display: flex;


}

.hero a:hover {
    opacity: .7;
    transition: .5s ease-in-out;
    position: relative;
    top: 0;

}

.hero h1{
    font-size: 7rem;
    width: 100%;
}

.hero h2 {
    font-size: 4rem;
}

.hero h3 {
    font-size: 3rem;
    font-weight: 300;
}
.sageata-jos {
    display: flex; 
    text-align: center; 
    justify-content: center; 
    align-items: center;
    padding-left: 2rem;
    gap: 1rem; 
    padding-top: 1rem;
   }
   .sageata-joss {
    width: 28px;
   }
   .mai-mult {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    padding: 1rem;
    font-size: 1.8rem;
    display: flex;
    text-align: center;
    border: none;
    color: white;
    background-color: var(--primary-color);
    gap: 1rem;
    /*border-radius: 30% 1% 30% 1%; */
    border-radius: 10px;
   }
   .mai-mult:hover {
    cursor:pointer;
    background-color: var(--hover-primary-color);
    transition: .5s all;
    position: relative;
    top: 0;
    right: 0;
   }

    .hero-image {
        width: 38rem;
    }

    @media screen and (min-width: 1900px) and (max-width: 2000px) {
        .text {
            padding-top: 5rem;
        }
    }
    @media screen and (max-width: 1330px)  {
        .text h1{
            font-size: 2.5rem;
        }
        
        .text h2 {
            font-size: 1.5rem;
        }
        .hero-image {
            width: 35rem;
        }
        
        .text h3 {
            font-size: 1rem;
           }
    }
@media screen and (max-width: 880px) {

    .hero {
        justify-content: space-around;
        padding: 1rem 0;
        align-items:normal ;
    }
   
       .sageata-jos {
        display: flex; 
        text-align: center; 
        justify-content: center; 
        gap: 1rem; 
        padding-top: 1rem;
       }
       .sageata-joss {
        width: 25px;
       }
       .nav {
        padding: 0;
    }
    }
    @media screen and (max-width: 600px) {
        .hero {
            padding-inline: 0;
            display: flex;
        }
        .menu-ul {
            width: 100%;
        }
        .text {
            padding-top: 25%;
        }
        .hero-image {
            width: 27rem;
        }
    }

    @media screen and (max-width: 450px) {
        .hero h2 {
            font-size: 1.9rem;
        }
        .hero h1 {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 3rem ;
        }
        .hero h3 {
            font-size: 1.5rem;
        }
    }

    @media screen and (max-width: 400px) {
        .hero {padding-top: 10%;}
    }




    /* About us */

    .about-us {
        display: flex;
        background-repeat: no-repeat;
        padding: 2rem 5rem;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 80%;
        flex-wrap: wrap-reverse;
        color: var(--primary-color);
        color: white;
        background-color: #1c1d1c;
        background-image: url(/assets/section.png);
        border-radius: 70px;
        margin: auto;
    }

    .about-us-text {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    .about-us-text h2 {
        font-size: 3rem;
    }
    .trei-text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .text-container h3{
        font-size: 2rem;
    }
    .text-container p {
        font-size: 1.2rem;
    }
    .text-container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .about-us-img {
        width: auto;
        height: 312px;
    }
    .image-about-us {
        width: 100%;
    }

    @media screen and (max-width: 430px) {
        .about-us {
            padding: 1.5rem;
        }
        .about-us-text h2 {
            font-size: 2.7rem;
        }
        .about-us-text h3 {
            font-size: 1.5rem;
            text-align: center;
            display: flex;
            align-items: center;
        }
    }

    /* Portofoliu */

    .portofolio {
        padding: 9rem 0;
        display: flex;
        flex-direction: column;
        color:  white;
        align-items: center;
        justify-content: center;
        
        gap: 1rem;

    }
    .portofolio-text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        background-color: var(--primary-color);
        padding: 3rem;
        border-radius: 10px;
        background-image: url(assets/section.png);
    }
    .portofolio-container {
        display: flex;
        gap: 3rem;
        justify-content: space-around;
        width: 62%;
        flex-wrap: wrap ;
        
    }
    .column {
        display: flex;
        flex-direction: column;
        width: 47%;
        gap: 1rem;
        flex-wrap: wrap;
    }
    .insta-container {
        display: flex;
        border-radius: 20px;
        width: 100%;
        padding: 1.5rem 1rem;
        background-color: var(--primary-color);
        align-items: center;
        justify-content: center;
        background-image: url(assets/section.png);
    }
    .image-portofolio {
        width: 99%;
        border-radius: 10px;
    }
    .website-in-portofolio {
        background-image: url(assets/section.png);
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #1c1d1c;
        border-radius: 10px;
        align-items: center;
        padding: 1rem; 
    }

    @media screen and (max-width: 1300px){
        .portofolio-text {
            width: 90%;
            border-radius: 2rem;
        }
        .portofolio-container {
            width: 95%;
        }
    }
    .text-img  {
        display: flex;
        gap: 1rem;

        padding-top: 1rem;
        justify-content: center;
    }
    .go-to-img {
        width: 25px;  
    }
    .go-to-img:hover {
        background-color: white;
        border-radius: 50%;
        transition: 300ms all;
    }

    @media screen and (max-width: 860px) {
        .portofolio-text {
            width: 75%;
            border-radius: 2rem;
        }
        .column {
            width: 80%;
        }
        .portofolio-container {
            width: 100%;
            gap: 1rem;
        }
        .insta-container {
            width: 100%;
        }
    }